.footer {
    display: flex;
    background: var(--long-gradient-to-bottom);
}

.footer a, .footer h4 {
    position: absolute;
    margin-top: 8vw;
    font-family: 'Special Elite', cursive;
    text-shadow: var(--text-shadow-big-black);
    color: gold;
    font-size: 1vw;
}

.footer a:first-of-type {
    left: 1vw;
}

.footer h4 {
    left: 48vw;
}

.footer a:nth-of-type(2) {
    left: 86vw;
}

.footer--img {
    width: 100%;
    height: auto;
    align-self: bottom;
}

@media (orientation: portrait) {
    .footer a, .footer h4 {
        display: none;
    }
}