.footer {
    background-color: var(--primary-color);
    padding: 20px;
    border-top: 1px solid #333;
    color: var(--secondary-color);
    text-align: center;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: var(--accent-color);
}

.footer a:hover {
    color: #d9534f;
}